<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- Include Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <form method="GET" enctype="multipart/form-data">
				<label for="imagen">Imagen:</label><br><br>
				<input type="file" id="imagen" name="imagen" required accept="image/*"><br><br>
				<label for="nombreProducto">Nombre del producto:</label><br><br>
				<input type="text" id="nombreProducto" name="nombreProducto" required><br><br>
				<label for="descripcion">Descripción:</label><br><br>
				<textarea id="descripcion" name="descripcion" required></textarea><br><br>
				<button type="submit">Agregar producto</button><br>
			</form>
			</h2>

		</div>
	</div>

<%- include("./partials/footer") %>
</body>

</html>