<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- Include Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <form method="GET" enctype="multipart/form-data">
				<label for="imagen">Imagen:</label>
				<input type="file" id="imagen" name="imagen" required accept="image/*">
				<label for="nombreProducto">Nombre del producto:</label>
				<input type="text" id="nombreProducto" name="nombreProducto" required>
				<label for="descripcion">Descripción:</label>
				<textarea id="descripcion" name="descripcion" required></textarea>
				<button type="submit">Agregar producto</button>
			</form>
			</h2>

<%- include("./partials/footer") %>
</body>

</html>